

<div class="container bg-light pt-2 pb-2 mt-2 rounded">
  <p class="m-3">Welcome to the Bredex Test Application!

    To continue using our services and access the full range of features, please log in to your account. Logging in ensures that you have a personalized experience tailored to your needs and preferences.<br/>

    Once logged in, you'll be able to explore our comprehensive testing tools, conduct tests, analyze results, and much more. Whether you're a seasoned tester or just starting out, our platform is designed to help you streamline your testing process and achieve your goals efficiently.<br/>

    If you don't have an account yet, you can easily create one by following the registration process. We value your privacy and security, so rest assured that your information will be handled with the utmost care.<br/>

</div>
